@model InspectionAnalysis.InspectResult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InspectResult</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkData.WorkDataName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CameraNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CameraNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InspTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InspTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InspectResultId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
